<h1>Tickets</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Pivotal ID</th>
    </tr>
  </thead>
  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.id %></td>
        <td><%= ticket.name %></td>
        <td><%= ticket.description %></td>
        <td><%= link_to "#{ticket.pivotal_ticket_id}", "https://www.pivotaltracker.com/story/show/#{ticket.pivotal_ticket_id}", :target => "_blank" %></td>
        <td><%= link_to "Delete", ticket_path(ticket), :method => "delete" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Add tickets", new_ticket_path %>


